
/* header */
.logo {
  height: 70px;
  background-color: blue;
}

.nav_list {
  height: 70px;
  background-color: red;
}

.jumbotron {
  height: 500px;
  background-color: yellow;
}
/* /header */
/* corpo centrale */
/* portfolio */
.cnt_port {

}


.portfolio {
  height: 100px;
  position: relative;
}

.img_porfolio {
  height: 50px;
  width: 80%;
  background-color: blue;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}
/*/ portfolio */
/* about */
.sct-abt {
  background-color: lightblue;
}
/* /about */
/* form */

.cnt-form {
height: 150px;
background-color: orange;
}
/* /form */
/* /corpo centrale */
/* footer */

.top-fot {
  height: 300px;
  background-color: darkblue;
}
