
.jumb {
  background-color: #1abc9c;
  text-align: center;
  color: #fff;
}

.img_guy {
  max-width: 250px;
  padding-top: 30px;
}

h1 {
  font-weight: bold;
  font-size: 8rem;
  text-transform: capitalize;
  padding: 10px 0;
}

.icn_str {
  font-size: 2rem;
}


/* .icn_str::before{
  content: "";
  height: 3px;
  background-color: #fff;
  width: 50px;
  display: inline-block;
  vertical-align: middle;
} */

.icn_str::after {
  content: "";
  height: 3px;
  background-color: #fff;
  width: 50px;
  display: inline-block;
  vertical-align: middle;
}

.jumb p {
  font-size: 3rem;
  text-transform: capitalize;
  padding-top: 10px ;
  padding-bottom: 30px;
}
 /* media query jumbotron */
@media screen and (max-width: 750px) {
  h1 {
    font-size: 3rem;
  }

  .jumb p {
    font-size: 1.2rem;
  }
}
